/* Props */
:root {
--primary-color: #333;
--green-color: #0A775F;
--yellow-color: #C99B67;
}

/* GLOBAL */
html {
  box-sizing: border-box;
  scroll-behavior: smooth;
  height: 100%;
}
*,
*::before
*::after {
  box-sizing: inherit;
}

body {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
  font-size: 16px;
  line-height: 1.75;
  font-family:"Roboto" "Arial", "sans-serif";
  background-color: #fff;
  color: var(--primary-color);
}
img {
  max-width: 100%;
  height: auto;
}

/* CONTAINER */
.container {
  max-width: 1200;
  padding-left: 50px;
  padding-right: 50px;
  margin-left: auto;
  margin-right: auto;
}

/* MAIN CONTENT */
.main-container {
  flex-grow: 1;
}
