/* Props */
:root {
  --primary-color: #333;
  --green-color: #0A775F;
  --yellow-color: #C99B67;
  --accent-color-green-80: rgba(10, 119, 95, 0.8);
  --accent-color-green-60: rgba(10, 119, 95, 0.6);
  --accent-color-yellow-80: rgba(201, 155, 103, 0.8);
  --accent-color-yellow-60: rgba(201, 155, 103, 0.6);
  --ligt-brown: #F8F8F2;
}

/* GLOBAL */
html {
  box-sizing: border-box;
  scroll-behavior: smooth;
  height: 100%;
}
*,
*::before
*::after {
  box-sizing: inherit;
}

body {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
  font-size: 16px;
  line-height: 1.75;
  font-family:"Roboto", "Arial", "sans-serif";
  background-color: #fff;
  color: var(--primary-color);
}
img {
  max-width: 100%;
  height: auto;
}

*:focus {
  outline: 2px dashed var(--green-color);
  outline-offset: 2px;
}
.button {
  display: inline-block;
  padding: 16px 24px;
  border: 0;
  color: #fff;
  border-radius: 100px;
  font-size: 16px;
  line-height: normal;
  text-transform: uppercase;
  letter-spacing: 1px;
  text-decoration: none;
  white-space: nowrap;
}
.button-green {
  background-color: var(--green-color);
}
.button-green:hover {
  background-color: var(--accent-color-green-80);
}
.button-green:active {
  background-color: var(--accent-color-green-60);
}

.button-yellow {

  background-color: var(--yellow-color);
}
.button-yellow:hover {
  background-color: var(--accent-color-yellow-80);
}
.button-yellow:active {
  background-color: var(--accent-color-yellow-60);
}
/* CONTAINER */
.container {
  max-width: 1440px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}

/* MAIN CONTENT */
.main-content {
  padding-top: 20px;
  padding-bottom: 50px;
  flex-grow: 1;
}


/* Site header backround wrapper */
.site-header-hero-wrapper {
  background-color: #F3D7B7;
  background-image: url(../img/site-header-bg.jpg);
}

/* Site header */

.site-header {
  padding-top: 40px;
  padding-bottom: 40px;
}
.site-header-container {
  display: flex;
  justify-content: space-between;
  padding-left: 50px;
  padding-right: 50px;
}
.site-logo-img {
  flex-shrink: 0;
  display: flex;
  text-decoration: none;
}
.site-logo-img-item {
  width: 235px;
  height: 24px;
  object-fit: contain;
  transition: opacity 0.3s ease;
}
.site-logo-img-item:hover {
  opacity: 0.8;
}
.site-logo-img-item:active {
  opacity: 0.6;
}

/* site-nav */
.site-nav-list {
  padding: 0;
  margin: 0;
  display: flex;
  list-style: none;
}
.site-nav-item:not(:last-child) {
  margin-right: 40px;
}
.sitenav-medium .site-nav-items {
  font-size: 16px;
  line-height: normal;
}
.site-nav-items {
  display: block;
  text-transform: uppercase;
  text-decoration: none;
  color: var(--primary-color);
  font-weight: 700;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 1px;
  transition: color 0.3s ease ;
  white-space: nowrap;
}
.site-nav-items:hover {
  color: var(--green-color);
}
.site-nav-items:active {
  opacity: 0.6;
}

/* site hero */
.hero {
  margin: 0;
  padding: 0;
}
.hero-container {
  padding-left: 0;
  padding-right: 0;
  display: flex;
  align-items: center;
}
.hero-info-wrapper {
  width: 100%;
  max-width: 464px;
  height: 331px;
  padding-left: 150px;
  padding-right: 116px;
  padding-top: 116px;
  padding-bottom: 100px;
}
.hero-title {
  font-weight: 700;
  font-size: 64px;
  line-height: 75px;
  color: #000;
  margin-bottom: 24px;
}
.hero-text {
  margin-top: 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #000;
  margin-bottom: 34px;
}
.hero-img {
  margin-left: auto;
  object-fit:cover ;
  width: 710px;
  height: 696px;
}

/* main */
.index-collection {
  padding-top: 1px;
  padding-bottom: 1px;
  background-image: url(../img/index-collection-bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
}
.index-collection-container {
  margin: 0;
  padding: 50px 143px;
}

.index-collection-title {
  margin-bottom: 80px;
  margin-top: 0;
  text-transform: uppercase;
  text-align: center;
  font-size: 50px;
  font-weight: bold;
  line-height: normal;
  color: #000;
}
.index-collection-list {
  list-style: none;
}
.index-collection-item {
  display: flex;
  align-items: center;
}
.index-collection-item:nth-child(even) {
 flex-direction: row-reverse;
}
.index-collection-img {
  flex-shrink: 0;
  width: 450px;
  height: 375px;
  object-fit: cover;
}
.index-collection-info {
  padding-left: 117px;
  padding-right: 117px;
  flex-grow: 1;
  width: 453px;
  height: 134px;
}
.index-collection-heading {
  font-size: 48px;
  margin-bottom: 10px;
  text-transform: uppercase;
  line-height: normal;
  color: var(--primary-color);
}
.index-collection-text {
  margin: 0;
  font-size: 22px;
  line-height: 34px;
  letter-spacing: 0;
}
.index-collection-text:not(:last-child) {
  margin-bottom: 10px;
}
/* .index-collection-item:nth-child(odd) .index-collection-info {
 padding-left: 117px;
}
.index-collection-item:nth-child(even) .index-collection-info {
  padding-left: 117px;
 } */



/* index-features */
.index-features {
margin-bottom: 30px;
}
.index-features-inner {
  padding-top: 50px;
  padding-bottom: 50px;
  background-image: url(../img/index-features-body-bg.jpg);
  background-size: 100% 700px ;
  background-repeat: no-repeat;
  padding: 50px 30px;
}
.index-features-heading {
  margin-bottom: 0;
  padding-bottom: 0;
  text-align: center;
  font-size: 50px;
  font-weight: bold;
  line-height: normal;
  color: #fff;
  text-transform: uppercase;
}
.index-features-text {
  margin-bottom: 0;
  padding-bottom: 0;
  padding-left: 400px;
  text-align: center;
  width: 581px;
  height: 84px;
  font-size: 16px;
  line-height: 28px;
  font-weight: 400;
  color: #fff;
}
.index-features-list {
  display: flex;
  list-style: none;
  padding-top: 70px;
}
.index-features-item {
  margin: 0;
  padding: 0;
  width: 433px;
  height: 629px;
  margin-bottom: 20px;
}
.index-features-item:not(:last-child) {
  padding-right: 15px;
}
.index-features-img {
  object-fit: cover;
  width: 433px;
  height: 500px;
  margin-bottom: 15px;
}
.index-features-item-heading {
  font-size: 30px;
  line-height: normal;
  text-transform: uppercase;
  font-weight: 500;
  padding-bottom: 0;
  margin-bottom: 0;
}
.index-features-item-text {
  font-size: 18px;
  line-height: 28px;
  width: 377px;
  height: 56px;
  margin: 0;
}

/* how-it-works */
.how-it-works {
  padding: 0;
  margin: 0;
}
.how-it-works-inner {
  background-color: var(--green-color);
  background-image: url(../img/how-it-works-bg-img.jpg);
  padding: 50px 30px;
  text-align: center;
}
.how-it-works-heading {
  margin-top: 0;
  margin-bottom: 80px;
  text-transform: uppercase;
  text-align: center;
  font-size: 50px;
  line-height: normal;
  color: #fff;
  font-weight: bold;

}
.how-it-works-list {
  margin: 0;
  margin-bottom: 60px;
  display: flex;
  margin-left: -20px;
  text-align: left;
  counter-reset: how it works;
}
.how-it-works-item {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
  padding: 0;
  width: calc(100% / 3 - 20px);
  height: 396px;
  counter-increment: how-it-works;
}
.how-it-works-item::before {
  width: 60px;
  margin-bottom: 20px;
  background-color: var(--ligt-brown);
  border: 4px solid var(--yellow-color);
  height: 60px;
  content: "";
}
.how-it-works-info {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  padding: 20px 20px 40px;
  background-color: var(--ligt-brown);
}
.how-it-works-info::before {
  align-self: flex-end;
  font-size: 64px;
  color: var(--primary-color);
  line-height: normal;
  margin-bottom: 45px;
  content: "0"counter(how-it-works);
}
.how-it-works-info-title {
  margin-top: 0;
  margin-bottom: 10px;
  max-width: 250px;
  width: 250px;
  font-size: 40px;
  font-weight: 500;
  line-height: normal;
  color: var(--primary-color);
  text-transform: uppercase;
}
.how-it-works-info-text {
  margin: 0;
  color: var(--primary-color);
  font-size: 18px;
  width: 385px;
  line-height: 28px;
}
.how-it-works-cta {
  outline-color: var(--yellow-color) ;
}



/* site footer */
.site-footer {
  margin: 0;
  padding-top: 65px;
  padding-bottom: 65px;
  height: 100px;
  background-color: #F3D7B7;
  background-image: url(../img/site-header-bg.jpg);
  background-repeat: repeat;
}
.site-footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 50px;
  padding-left: 50px;
  padding-right: 50px;
}

.site-logo-img-item {
  flex-shrink: 0;
width: 235px;
height: 24px;
object-fit: contain;
}


/* ?footer-socials */

.socials {
  list-style: none;
}
.socials-item {
margin-top: 0;
}
.socials-item-logo-img {
  width: 30px;
  height: 30px;
}
.socials-link:not(:last-child) {
padding-right: 10px;
}
.socials-item-logo-img:hover {
  opacity: 0.8;
}
.socials-item-logo-img:active {
  opacity: 0.6;
}



/* retina bg */
@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (   min--moz-device-pixel-ratio: 2),
only screen and (     -o-min-device-pixel-ratio: 2/1),
only screen and (        min-device-pixel-ratio: 2),
only screen and (                min-resolution: 192dpi),
only screen and (                min-resolution: 2dppx) {

  /* Retina-specific stuff here */
  .site-header-hero-wrapper {
    background-image: url(../img/site-header-bg@2x.jpg);
  }
  .index-features-inner {
    background-image: url(../img/index-features-body-bg@2x.jpg);
  }
  .how-it-works-inner {
    background-image: url(../img/how-it-works-bg-img@2x\ \(2\).jpg);
  }
}